:root {
    --gray : #C2C2C2;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
    margin : 0;
    padding : 0;
}

body {
    display : grid;
    grid-template-rows : 5vh 10vh 12vh 45vh 45vh 25vh;
    grid-gap : 70px;
    padding-right : 100px;
    padding-left: 100px;
    justify-content : center;
    grid-auto-columns : 600px;
}

.header {
    margin-top : 20px;
    display : flex;
    justify-content : space-between;
}

.header__sign {
    display : flex;
}

.gray {
    color : var(--gray);
}

a {
    text-decoration : none;
    color : #D1DBD8;
}

.header__info {
    display : flex;
    align-items : center;
}

.header__info--fav {
    display : flex;
    align-items : center;
    margin-right : 30px;
}

.title {
    display : flex;
    justify-content : center;
    align-items :center;
}

.title__container {
    width : 200px;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.title__container-top {
    width : 200px;
    display : flex;
    justify-content : space-between;
}
.title__container-bot {
    display : flex;
    justify-content : space-between;
    width : 100px;
}

.navigation {
    display : flex;
    flex-direction : column;
    align-items : center;
}

.navigation__block {
    display : flex;
    justify-content : space-around;
    width : 450px;
}

.navigation__subblock {
    width : 320px;
    display : flex;
    justify-content : space-around;
    margin-top : 30px;
}

.ital {
    font-style: italic;
}

.main {
    display : grid;
    grid-template-columns : 2fr 3fr;
}

.main__image {
    background-image : url("https://cdn.pixabay.com/photo/2020/03/28/15/20/cat-4977436__340.jpg");
    background-position : center;
    background-repeat : default;
    background-size : cover;
}

.main__card {
    padding : 50px;
    background-color : #F9F9F9;
}

.main__card-content {
    display : grid;
    grid-template-rows : repeat(4, 1fr);
    grid-gap : 30px;
}

.main__card-content-title {
    display : flex;
    justify-content : space-between;
}

.main__card-content-btn{
    display : grid;
    grid-template-columns : 30px 150px 30px;
    grid-gap : 10px;
    justify-content : center;
    align-items : center;
    text-align : center;
}

.main__card-content-btn--box {
    display : flex;
    justify-content : center;
    align-items : center;
    background-color : var(--gray);
    height : 30px;
}

.article {
    display : flex;
    flex-direction : column;
    align-items : center;
}

.article__image {
    width : 100%;
    height : 100%;
    background-image : url("https://cdn.pixabay.com/photo/2020/03/28/06/42/kobe-4975863__340.jpg");
    background-position : center;
    background-repeat : default;
    background-size : cover;
}

.article__label {
    margin-top : 20px;
}

.footer {
    display : flex;
    flex-direction : column;
    align-items : center;
}

.footer__card {
    margin-bottom : 50px;
}

.footer__card--title {
    text-align : center;
}

.footer__card--sub {
    text-align : center;
    margin-bottom : 20px;
}

.footer__card__box {
    display : flex;
    align-items : center;
}

.footer__card__box--input{
    display : flex;
    align-items : center;
    width : 350px;
    height : 30px;
}

.footer__card__box--submit{
    display : flex;
    align-items : center;
}

.footer__card__box--submit-text{
    background-color : #F4AEB2;
    color : white;
    font-size : 10px;
    padding-top : 11px;
    padding-bottom : 10px;
    padding-right : 20px;
    padding-left : 20px;
}

.footer__nav--icons {
    display : flex;
    justify-content : space-around;
    margin-bottom : 20px;
}